<div class="container mt-4">
  <h5 class="">İmtahan siyahısı</h5>
  <div class="row mb-3">
    <div class="col-lg-3">
      <label for="lessonCodeSelect">Dərsin kodu</label>
      <select id="lessonCodeSelect" class="form-select" aria-label="Default select example" [(ngModel)]="lessonCode">
        <option *ngFor="let lesson of lessonData" [value]="lesson.id">
          {{ lesson.lessonName }} ({{ lesson.lessonCode }})
        </option>
      </select>
    </div>
    <div class="col-lg-3">
      <label for="studentSelect">Şagirdlər</label>
      <select id="studentSelect" class="form-select" aria-label="Default select example" [(ngModel)]="studentNo">
        <option *ngFor="let student of studentData" [value]="student.id">
          {{ student.studentName }} ({{ student.studentNo }})
        </option>
      </select>
    </div>
    <div class="col-lg-2">
      <label for="quizDate">İmtahan tarixi</label>
      <input id="quizDate" type="datetime-local" class="form-control" [(ngModel)]="quizDate"
        placeholder="imtahan tarixi">
    </div>
    <div class="col-lg-2">
      <label for="score">Qiymət</label>
      <input id="score" type="text" class="form-control" [(ngModel)]="score" placeholder="">
    </div>

    <div class="col-lg-2 d-flex justify-content-end">
      <button class="btn btn-light ml-auto" (click)="addQuiz()">Əlavə et</button>
    </div>
  </div>

  <table class="table mt-4 table-hover">
    <thead>
      <tr class="table-active">
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Şagirdin adı</th>
        <th class="text-center" scope="col">Şagirdin nömrəsi</th>
        <th class="text-center" scope="col">Dərsin adı</th>
        <th class="text-center" scope="col">Dərsin kodu</th>
        <th class="text-center" scope="col">imtahan tarixi</th>
        <th class="text-center" scope="col">Qiymət</th>
        <th class="text-center" scope="col">X</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lesson of quizData; let i = index">
        <td class="text-center">{{ i + 1 }}</td>
        <td class="text-center" [ngClass]="{'text-danger': getStudentName(lesson.studentNo).isNotFound}">
          {{ getStudentName(lesson.studentNo).name }}
        </td>
        <td class="text-center">{{ getStudentCode(lesson.studentNo) }}</td>
        <td class="text-center" [ngClass]="{'text-danger': getLessonName(lesson.lessonCode).isNotFound}">
          {{ getLessonName(lesson.lessonCode).name }}
        </td>
        <td class="text-center"> {{ getLessonCode(lesson.lessonCode) }}</td>
        <td class="text-center">{{ lesson.quizDate }}</td>
        <td class="text-center">{{ lesson.score }}</td>
        <td class="text-center">
          <button class="btn btn-danger btn-sm" (click)="removeQuiz(lesson)">Sil</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>