<div class="container mt-4">
  <h5 class="">Şagirdlər siyahısı</h5>
  <div class="row mb-3">
    <div class="col-lg-2">
      <label for="studentNo">Şagirdin nömrəsi</label>
      <input type="number" class="form-control" [(ngModel)]="studentNo">
    </div>
    <div class="col-lg-3">
      <label for="studentName">Şagirdin adı</label>
      <input type="text" class="form-control" [(ngModel)]="studentName">
    </div>
    <div class="col-lg-2">
      <label for="studentSurname">Şagirdin soyadı</label>
      <input type="text" class="form-control" [(ngModel)]="studentSurname">
    </div>
    <div class="col-lg-3">
      <label for="classNo">Sinifi</label>
      <input type="number" class="form-control" [(ngModel)]="classNo">
    </div>

    <div class="col-lg-2 d-flex justify-content-end">
      <button class="btn btn-light" (click)="addStudent()">Əlavə et</button>
    </div>
  </div>
  <table class="table mt-4 table-hover">
    <thead>
      <tr class="table-active">
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Şagirdin nömrəsi</th>
        <th class="text-center" scope="col">Şagirdin adı</th>
        <th class="text-center" scope="col">Şagirdin soyadı</th>
        <th class="text-center" scope="col">Sinifi</th>
        <th class="text-center" scope="col">X</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lesson of studentsData; let i = index">
        <td class="text-center">{{ i + 1 }}</td>
        <td class="text-center">{{ lesson.studentNo }}</td>
        <td class="text-center">{{ lesson.studentName }}</td>
        <td class="text-center">{{ lesson.studentSurname }}</td>
        <td class="text-center">{{ lesson.classNo }}</td>
        <td class="text-center">
          <button class="btn btn-danger btn-sm" (click)="removeStudent(lesson)">Sil</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>